* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background: #171717 url("/img/background.jpg") 50% 0 no-repeat fixed;
  color: #fafafa;
  font: 14px 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
  padding: 5px 2px;
}
.u-divTable {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.u-divTableRow {
  display: table-row;
}
.u-divTableCell {
  display: table-cell;
  padding: 5px;
}
.u-vat {
  vertical-align: top;
}
.u-vam {
  vertical-align: middle;
}
.u-vab {
  vertical-align: bottom;
}
.u-cf:after {
  clear: both;
  display: table;
  content: '';
}
.u-cb {
  clear: both;
}
.u-borderTopWhite {
  margin-top: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 10px;
}
.u-justBorderBottomWhite {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.u-mt-5 {
  margin-top: 5px;
}
.u-mt-10 {
  margin-top: 10px;
}
.u-mb-5 {
  margin-bottom: 5px;
}
.u-mb-10 {
  margin-bottom: 10px;
}
.u-mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.u-mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.u-mr-5 {
  margin-right: 5px;
}
.u-mr-10 {
  margin-right: 10px;
}
.u-ml-10 {
  margin-left: 10px;
}
.u-ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.u-o-hidden {
  overflow: hidden;
}
.u-zi-n1 {
  z-index: -1;
}
.u-zi-0 {
  z-index: 0;
}
.u-zi-1 {
  z-index: 1;
}
.u-zi-2 {
  z-index: 2;
}
.u-zi-3 {
  z-index: 3;
}
.u-zi-4 {
  z-index: 4;
}
.u-zi-5 {
  z-index: 5;
}
.u-c-deaths {
  color: #ffff1a;
}
.u-c-legendary {
  color: #ffa500;
}
.u-c-set {
  color: #008000;
}
.u-c-kadala {
  color: #c0c;
}
.u-c-blue {
  color: #7979d4;
}
.u-c-value {
  color: #bda6db;
}
.u-c-tan {
  color: #a99877;
}
.u-c-grey,
.u-c-gray,
.u-c-grey .u-c-blue,
.u-c-gray .u-c-blue {
  color: #aaa;
}
.u-hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.u-textCenter {
  text-align: center;
}
.u-textLeft {
  text-align: left;
}
.u-textRight {
  text-align: right;
}
.u-textBold {
  font-weight: bold;
}
.u-textLarge {
  font-size: 110%;
}
.u-displayInlineBlock {
  display: inline-block;
}
.u-cursorPointer {
  cursor: pointer;
}
.u-cursorHelp {
  cursor: help;
}
.row {
  width: 100%;
}
.row:after {
  clear: both;
  content: '';
  display: table;
}
.column,
.columns {
  float: left;
}
.column.one,
.columns.one {
  width: 8.333333%;
}
.column.two,
.columns.two {
  width: 16.666666%;
}
.column.three,
.columns.three {
  width: 25%;
}
.column.four,
.columns.four {
  width: 33.333333%;
}
.column.five,
.columns.five {
  width: 41.666666%;
}
.column.six,
.columns.six {
  width: 50%;
}
.column.seven,
.columns.seven {
  width: 58.333333%;
}
.column.eight,
.columns.eight {
  width: 66.666666%;
}
.column.nine,
.columns.nine {
  width: 75%;
}
.column.ten,
.columns.ten {
  width: 83.333333%;
}
.column.eleven,
.columns.eleven {
  width: 91.666666%;
}
.column.twelve,
.columns.twelve {
  width: 100%;
}
.TopNav {
  background: rgba(0,0,0,0.6);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  padding: 10px 0;
}
.TopNav .row {
  max-width: 1440px;
  margin: 0 auto;
}
.AboutPage {
  max-width: 900px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(255,255,255,0.1);
  border: 1px solid #eee;
  margin: 50px auto;
  padding: 50px;
  color: #555;
}
.D3App {
  max-width: 1440px;
  margin: 25px auto;
}
.D3App-header {
  padding: 30px 0;
  font-size: 3em;
  text-align: center;
  font-family: 'Lora', Georgia, serif;
  font-weight: 400;
  text-shadow: 0 2px 10px rgba(0,0,0,0.8);
}
.D3App-headerSmallText {
  margin-left: 10px;
  font-size: 0.5em;
  font-style: italic;
  color: #ccc;
}
.D3App-appContainer {
  position: relative;
  background: rgba(25,27,27,0.9) url("/img/dark-texture.png") repeat;
  border: 1px solid #292c2d;
  box-shadow: inset 0 0 25px 0 rgba(0,0,0,0.3), 0 2px 15px 3px rgba(0,0,0,0.2);
}
.D3App-appBorderTopLeft {
  position: absolute;
  left: -7px;
  top: -7px;
  width: 73px;
  height: 59px;
  z-index: 0;
  background: transparent url("/img/body-edges.png") left top no-repeat;
}
.D3App-appBorderTopRight {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 73px;
  height: 59px;
  z-index: 0;
  background: transparent url("/img/body-edges.png") right top no-repeat;
}
.D3App-appBorderBottomLeft {
  position: absolute;
  left: -7px;
  bottom: -7px;
  width: 73px;
  height: 59px;
  z-index: 0;
  background: transparent url("/img/body-edges.png") left bottom no-repeat;
}
.D3App-appBorderBottomRight {
  position: absolute;
  right: -7px;
  bottom: -7px;
  width: 73px;
  height: 59px;
  z-index: 0;
  background: transparent url("/img/body-edges.png") right bottom no-repeat;
}
.D3TableContainer {
  position: relative;
  padding: 5px;
}
.D3TableContainer-sectionHeader {
  text-align: center;
  background: rgba(68,74,74,0.9) url("/img/light-texture.png") repeat;
  font-weight: 900;
  padding: 10px;
  margin: 5px auto 0 auto;
  font-size: 130%;
  z-index: 3;
  font-family: 'Lora', Georgia, serif;
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.4);
  border: 1px solid #4d5454;
}
.D3TableContainer-table {
  overflow-y: scroll;
  max-height: 700px;
  margin: 0 0 0 10px;
}
.D3TableContainer-table .column,
.D3TableContainer-table .columns {
  padding: 0 5px;
}
.D3TableContainer-tableRow {
  border-top: 1px solid #444a4a;
  padding: 10px 0;
}
.D3TableContainer-tableRow--expanded {
  background-color: #252017;
  background-image: url("/img/dark-texture.png"), url("/img/dark-corner-texture.png");
  background-repeat: repeat, no-repeat;
  background-position: 0 0, 0 0;
  box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.5), 0 0 30px 0 rgba(255,255,255,0.2);
  border: 1px solid #413828;
  margin: 10px auto;
  padding: 10px;
}
.D3TableContainer-tableHeaders {
  background: #120d0c url("/img/nav-bg.jpg") top left repeat-x;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);
  border: 1px solid #110d0c;
  margin: 0 9px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}
.D3TableContainer-tableHeaders.is-active {
  position: fixed;
  top: 0;
  width: 1440px;
  max-width: 100%;
}
.D3TableContainer-columnHeader {
  padding: 10px 15px;
}
.D3TableContainer-columnHeader:not(:last-child) {
  border-right: 2px solid rgba(0,0,0,0.2);
}
.D3TableContainer-columnHeader:not(:first-child) {
  border-left: 1px solid rgba(255,255,255,0.1);
}
.D3TableContainer-sectionHeader + .D3TableContainer-tableRow {
  border-top: none;
}
.D3ControlPanel {
  color: #171717;
  z-index: 3;
  background: #f0d191 url("/img/paper-texture.jpg") repeat-x;
  box-shadow: inset 0 0 50px 0 #6a4324;
  margin: 15px 10px 0 10px;
  padding: 15px;
  position: relative;
}
.D3ControlPanel:after {
  background: transparent url("/img/paper-edge.png") right top no-repeat;
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  right: -5px;
  width: 350px;
  bottom: 0;
  z-index: -1;
}
.D3ControlPanel-label {
  color: #600;
}
.D3ControlPanel-searchInput {
  width: 75%;
  border-radius: 6px 0 0 6px;
  height: 30px;
  line-height: 30px;
  margin: 25px 0;
  vertical-align: middle;
  background: rgba(255,255,255,0.6);
  box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.4), 0 0 3px 0 rgba(0,0,0,0.1);
  border: none;
  font-size: 105%;
  padding-left: 5px;
}
.D3ControlPanel-searchButton {
  cursor: pointer;
  background: rgba(0,0,0,0.6);
  border: none;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  height: 30px;
  width: 25%;
  border-radius: 0 6px 6px 0;
  margin: 25px 0;
  vertical-align: middle;
  text-shadow: 0 1px 1px rgba(0,0,0,0.9);
}
.D3ControlPanel-searchButton:hover {
  background: rgba(0,0,0,0.5);
}
.D3ControlPanel-searchButton:active {
  background: rgba(0,0,0,0.7);
}
.D3ControlPanel-dropDown {
  width: 100%;
  border-radius: 6px;
  border: none;
  height: 30px;
  line-height: 30px;
  margin: 25px 0;
  vertical-align: middle;
  background: rgba(255,255,255,0.6);
  box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.4), 0 0 3px 0 rgba(0,0,0,0.1);
  font-size: 105%;
  padding-left: 5px;
}
.D3CharacterList {
  padding: 0 15px;
}
.D3CharacterList-portrait {
  display: block;
  margin: 0 auto;
  background: transparent url("/img/portraits.png") 0 0 no-repeat;
  width: 80px;
  height: 80px;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.D3CharacterList-portrait--Barb {
  background-position: 0 0;
}
.D3CharacterList-portrait--Barb.is-active {
  background-position: 0 -80px;
}
.D3CharacterList-portrait--DH {
  background-position: -80px 0;
}
.D3CharacterList-portrait--DH.is-active {
  background-position: -80px -80px;
}
.D3CharacterList-portrait--Monk {
  background-position: -160px 0;
}
.D3CharacterList-portrait--Monk.is-active {
  background-position: -160px -80px;
}
.D3CharacterList-portrait--WD {
  background-position: -240px 0;
}
.D3CharacterList-portrait--WD.is-active {
  background-position: -240px -80px;
}
.D3CharacterList-portrait--Wiz {
  background-position: -320px 0;
}
.D3CharacterList-portrait--Wiz.is-active {
  background-position: -320px -80px;
}
.D3CharacterList-portrait--Cru {
  background-position: -400px 0;
}
.D3CharacterList-portrait--Cru.is-active {
  background-position: -400px -80px;
}
.D3CharacterList-portrait:hover {
  opacity: 0.7;
}
.D3CharacterList-portraitTitle {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.D3Paginator {
  overflow: hidden;
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 20px 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 10px 25px -15px rgba(255,255,255,0.6), 0 -10px 25px -15px rgba(255,255,255,0.6);
}
.D3Paginator-pageNumber {
  display: inline-block;
  cursor: pointer;
}
.D3Paginator-pageNumber:not(:first-child) {
  border-left: 1px solid rgba(255,255,255,0.2);
}
.D3Paginator-pageNumberLink {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.D3Paginator-pageNumberLink.is-active {
  background: rgba(255,255,255,0.2);
  font-weight: bold;
  color: #fff;
}
.D3Paginator-pageNumberLink:not(.is-active):hover {
  background: rgba(255,255,255,0.1);
}
.Item-imageContainer {
  width: 64px;
  height: 64px;
  position: relative;
  float: left;
}
.Item-imageBackground {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.Item-imageBackground--orange {
  border: 1px solid #ffa500;
  background: rgba(242,157,0,0.6);
  box-shadow: inset 0 20px 40px rgba(0,0,0,0.3), 0 0 15px 0 rgba(0,0,0,0.3);
}
.Item-imageBackground--green {
  border: 1px solid #008000;
  background: rgba(0,122,0,0.6);
  box-shadow: inset 0 20px 40px rgba(0,0,0,0.3);
}
.Item-image {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
}
.Item-title {
  font-family: 'Lora', Georgia, serif;
  font-weight: 900;
}
.Item-titleLabel {
  display: inline-block;
  max-width: 90%;
  height: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Item-titleIcon {
  font-size: 80%;
  margin-left: 5px;
  color: #eee;
}
.Item-itemDescription {
  margin-top: 10px;
  margin-left: 65px;
  margin-right: 5px;
}
.Item-label {
  font-family: 'Lora', Georgia, serif;
  font-style: italic;
  font-weight: bold;
}
.D3TableContainer-tableRow--expanded .Item {
  background: #252017;
  border: 1px solid #413828;
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
}
.D3TableContainer-tableRow--expanded .Item-imageContainer {
  width: 60px;
  height: 144px;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.D3TableContainer-tableRow--expanded .Item-imageBackground {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -30px;
  width: 60px;
  height: 120px;
  z-index: 1;
}
.D3TableContainer-tableRow--expanded .Item-title {
  font-family: 'Lora', Georgia, serif;
  font-weight: 900;
}
.D3TableContainer-tableRow--expanded .Item-titleLabel {
  display: inline;
  max-width: 100%;
  height: auto;
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
}
.D3TableContainer-tableRow--expanded .Item-titleIcon {
  font-size: 80%;
  margin-left: 5px;
  color: #eee;
}
.D3TableContainer-tableRow--expanded .Item-itemDescription {
  margin-left: 85px;
}
.D3TableContainer-tableRow--expanded .Item-label {
  clear: both;
}
.D3TableContainer-tableRow--expanded .Item-value {
  float: right;
  clear: right;
  margin-right: 10px;
}
.D3TableContainer-tableRow--expanded .Item-requiredLevel {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #171717;
  font-weight: bold;
}
.D3TableContainer-tableRow--expanded .Item-DPSDefense {
  font-size: 200%;
  font-family: 'Lora', Georgia, serif;
}
.D3TableContainer-tableRow--expanded .Item-DPSDefenseLabel {
  font-size: 12px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
