doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(href='//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Roboto:400,900' rel='stylesheet')
      link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    .TopNav
      .row
        .nine.columns A Node.js + Reactjs app for fun. Drop data based on a copy of <a href='https://docs.google.com/spreadsheets/d/1cM-s4e66ql2zsrkfkfKXmvVJ4zmngzxdzVLk9gvLvT8/edit' target='_blank'>this spreadsheet</a> from <a target='_blank' href='https://www.reddit.com/r/Diablo/comments/4106z2/updated_legendary_drop_rates_bloodshard_prices/'>this reddit thread</a> mixed with the Blizzard API.
        .three.columns.u-textRight By JRH - <a target='_blank' href='https://github.com/jrhalchak/D3Drops'>GitHub</a>
    block content

    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    block lateScripts
