*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  cursor: url('/img/cursor_shadow.cur'), default

body
  background: #171717 url('/img/background.jpg') 50% 0 no-repeat fixed
  color: #fafafa
  font 14px sansFamily

a
  color #00B7FF

table
  border-collapse: collapse
  border-spacing: 0

td
  vertical-align: top
  padding: 5px 2px
