.u-divTable
  display: table
  width: 100%
  border-spacing: 0
  border-collapse: collapse
.u-divTableRow
  display: table-row
.u-divTableCell
  display: table-cell
  padding: 5px
.u-vat
  vertical-align: top
.u-vam
  vertical-align: middle
.u-vab
  vertical-align: bottom
.u-cf:after
  clear: both
  display: table
  content: ''
.u-cb
  clear: both
.u-borderTopWhite
  margin-top: 10px
  border-top: 1px solid rgba(255,255,255,0.4)
  padding-top: 10px


.u-mt-5
  margin-top: 5px
.u-mb-5
  margin-bottom: 5px
.u-mb-10
  margin-bottom: 10px
.u-mv-5
  margin-top: 5px
  margin-bottom: 5px
.u-mv-10
  margin-top: 10px
  margin-bottom: 10px

.u-ph-10
  padding-left: 10px
  padding-right: 10px

.u-o-hidden
  overflow: hidden

.u-zi-n1
  z-index: -1
.u-zi-0
  z-index: 0
.u-zi-1
  z-index: 1
.u-zi-2
  z-index: 2
.u-zi-3
  z-index: 3
.u-zi-4
  z-index: 4
.u-zi-5
  z-index: 5

.u-c-deaths
  color: lighten(yellow, 10%)
.u-c-legendary
  color: orange
.u-c-set
  color: green
.u-c-kadala
  color: lighten(purple, 20%)
.u-c-blue
  color: #7979d4
.u-c-value
  color: #bda6db
.u-c-tan
  color: #a99877
.u-c-grey, .u-c-gray
  color: #aaa

.u-hyphenate
  -ms-word-break: break-all
  word-break: break-all
  word-break: break-word // Non standard for webkit
  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto
.u-textCenter
  text-align: center
.u-textLeft
  text-align: left
.u-textRight
  text-align: right
.u-textBold
  font-weight: bold

.u-cursorPointer
  cursor: pointer

.row
  width: 100%
  &:after
    clear: both
    content: ''
    display: table

.column, .columns
  float: left
  &.one
    width: 8.333333%
  &.two
    width: 16.666666%
  &.three
    width: 25%
  &.four
    width: 33.333333%
  &.five
    width: 41.666666%
  &.six
    width: 50%
  &.seven
    width: 58.333333%
  &.eight
    width: 66.666666%
  &.nine
    width: 75%
  &.ten
    width: 83.333333%
  &.eleven
    width: 91.666666%
  &.twelve
    width: 100%
